{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "exclude": [
    "tools",
    "*/build/**",
    "node_modules/*",
    ".dev/*",
    "**/*.d.ts",
    "dashboard/scripts",
    "coverage",
    ".nyc_output",
    "**/migrations"
  ],
  "extension": [
    ".ts"
  ],
  "reporter": [
    "lcov",
    "text-summary",
    "html"
  ]
}
