@import "theme";

// Typo
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
$font-family: "Noto Sans", sans-serif;
body {
  font-size: 16px;
  line-height: 1.2;
  font-family: $font-family;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.3em;
}
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: bold;
}

form {
  label {
    display: flex;
    text-transform: uppercase;
    align-items: center;
    color: lighten($dark, 50%);
    font-size: 0.8em;
    padding: 0.5rem 0.8rem;

    & > :not(span) {
      text-transform: none;
      flex: 1;
      margin-left: 1rem;
    }
  }

  select,
  input {
    border: 1px solid darken($light, 8%);
    background: $light;
    padding: 0.5rem 1rem;
    font-family: inherit;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

body,
html {
  margin: 0;
}

body {
  // Fullscreen
  height: 100vh;
  width: 100vw;
  // Grid layout
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main"
    "sidebar footer";
  grid-template-rows: 3rem 1fr 2rem;
  grid-template-columns: 3rem 1fr;

  & > * {
    box-sizing: border-box;
    position: relative;
  }

  & > header {
    grid-area: header;
    background-color: $darker;
    color: $light;
    z-index: 2;
    @include laying-flat(top);
    display: flex;
    align-items: center;
  }

  & > aside {
    grid-area: sidebar;
    padding-top: 1rem;
    background-color: $darkest;
    color: $light;
    z-index: 1;
    display: flex;
    flex-direction: column;
    @include laying-flat(left);

    &.expanded {
      width: max-content;

      .menu {
        & > li > a {
          span {
            opacity: 1;
          }
        }
      }
    }
  }
  fieldset {
    padding: 0;
  }
  & > main {
    grid-area: main;
    background-color: darken($light, 5%);
    color: $dark;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    & > section,
    & > form fieldset {
      background-color: $light;
      border: none;
      @include laying-flat(top);
      & + * {
        margin-top: 1rem;
      }
    }
    & > header,
    & > form > header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    & > footer {
      margin-top: auto;
      display: flex;
    }
  }

  .legend {
    margin-bottom: 1rem;
    opacity: 0.5;
  }
  h1 + .legend {
    margin-top: -0.75rem;
  }

  & > footer {
    padding: 0.5rem 1rem;
    grid-area: footer;
    background-color: $dark;
    color: fade-out($light, 0.5);
    font-size: 0.8rem;
    text-align: right;
  }
}

@mixin button {
  border: none;
  padding: 0.5em 1em;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  & > svg {
    margin-right: 0.5rem;
  }
}

button,
.button {
  @include button;
  &-primary,
  &-secondary,
  &-alt,
  &-gradient {
    @include button;
    background-color: $primary;
    color: $light;
    @include laying-flat(top);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
  }
  &-alt {
    background-color: $light;
    color: $dark;
  }
  &-secondary {
    background-color: $secondary;
    color: $light;
  }
  &-danger {
    background-color: $danger;
    color: $light;
  }
  &-gradient {
    background: $secondary
      linear-gradient(99.67deg, $secondary -6.01%, $primary 104.46%);
    color: $light;
  }
}

a {
  color: inherit;
}

@mixin reset-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu {
  @include reset-list;
  flex: 1;
  & > li > a {
    overflow: hidden;
    position: relative;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: flex;
    span {
      margin-left: 0.5rem;
      opacity: 0;
      white-space: nowrap;
    }
    &.active {
      background: lighten($darkest, 8%);
      @include laying-flat(top);
      margin-right: -3px;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
}

.bottom-nav {
  margin-top: auto;
}

.buttons {
  display: flex;
  & > * {
    margin-left: 0.5rem;
  }
}

.columns {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  @media (min-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
  }
  &.small {
    margin-right: auto;
    width: max-content;
  }
}

.notifications {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  display: flex;
  & > * {
    margin: 0.5rem;
  }
}

input.copy-me {
  border: none;
  background: $dark;
  color: $light;
  padding: 0.5rem 1rem;
  font-family: monospace;
  width: 100%;
  flex: 1;
}
