// Lightest color
$light: #ffffff;
// Darkest color
$dark: #3e464c;
$darker: darken($dark, 7%);
$darkest: darken($dark, 15%);
// Accents
$primary: #ff52e1;
$secondary: #5500d7;
$neutral: #9e9e9e;
// States
$danger: #f44336;
$positive: #4caf50;
$info: #03a9f4;

@mixin laying-flat($x: 0, $y: 1px, $size: 3px) {
  box-shadow: $x $y $size rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
