@import "../theme";

.table {
  border-collapse: collapse;
  box-sizing: border-box;
  width: 100%;
  margin: 1rem 0;

  tr {
    border-bottom: 1px solid darken($text-color, 8%);
  }
  td {
    padding: 1rem 0;
  }
  td,
  th {
    text-align: left;
    padding: 0.5rem 1rem;
    &:last-of-type {
      text-align: right;
    }
    &:only-child {
      text-align: left;
    }
  }
  td[colspan] {
    padding: 4rem 2rem;
    text-align: center;
    color: lighten($background-color, 50%);
  }
  thead {
    th {
      text-transform: uppercase;
      font-weight: normal;

      font-size: 0.7rem;
      color: lighten($background-color, 30%);
    }
  }
}
