@import "../theme";
.tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  & > li {
    background: darken($text-color, 3%);
    color: lighten($background-color, 20%);
    @include laying-flat();
    position: relative;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    & > button {
      text-transform: uppercase;
      &:active,
      &:focus {
        outline: none;
        border: none;
      }
    }
    &.active {
      background: $text-color;
      color: $background-color;
      @include laying-flat(0px, 3px, 5px);
      margin-top: -1px;
      margin-right: -1px;
    }
  }
}
