@import "../theme.scss";

.wrapper {
  display: grid;
  width: 100vw;
  height: 100vh;
  user-select: none;
}
.main {
  // to fix code-editor resize
  min-width: 0;
}

.sidebar {
  background-color: $secondary-background;
  display: flex;
  flex-direction: column;
  position: relative;
  & > * {
    flex: 1;
  }
}
.parameters {
  background-color: rgba(255, 255, 255, 0.02);
  position: relative;
  display: flex;
  flex-direction: column;
  & > section {
    flex: 1;
  }
}

.splitter {
  height: 100%;
  width: 3px;
  position: absolute;
  top: 0;
  cursor: col-resize;
}

.resizing {
  * {
    cursor: col-resize !important;
  }
}

.drawer {
  height: 100%;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  display: grid;
  grid-template-areas: "icons tree";
  grid-template-columns: 2rem 1fr;
}

.icons {
  background: rgba(255, 255, 255, 0.04);
  display: flex;
  flex-direction: column;
  li {
    padding: 0.5rem;
    opacity: 0.5;
    text-align: center;
    &:hover {
      cursor: pointer;
      background: rgba(255, 255, 255, 0.08);
    }
    &.active {
      opacity: 1;
    }
  }
}

.vertical-logo {
  margin: auto auto 0.5rem;
}

.tree {
  font-size: 0.8rem;
  color: darken($text-color, 25%);

  ul {
    li {
      a {
        display: block;
        padding: 0.25rem 0.5rem;
        color: darken($text-color, 25%);
        text-decoration: none;
        &:hover {
          background-color: rgba(255, 255, 255, 0.08);
        }
      }
      ul {
        margin-left: 1.5rem;
        margin-right: 0.5rem;
      }
      span {
        width: 1rem;
        display: inline-block;
        text-align: center;
      }
    }
  }
}

.tree input[type="search"] {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  line-height: 1rem;
  padding: 0.5rem;
  color: white;
  outline: none;
  border-radius: 0;
  &:active,
  &:focus {
    border-color: rgba(255, 255, 255, 0.25);
  }
}
