@import "../theme.scss";

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  width: 12rem;
  background-color: $secondary-background;
  display: flex;
  flex-direction: column;
  & > * {
    flex: 1;
  }
}
.parameters {
  width: 24rem;
  background-color: rgba(255, 255, 255, 0.02);
}

.main {
  flex: 1;
}
.resize-handle {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: transparent;
  padding: 0;
  border: none;
  cursor: ew-resize;
  z-index: 2;
  transition: background-color 200ms ease;
  &:hover,
  &:active,
  &:focus {
    background-color: rgba(255, 255, 255, 0.08);
    outline: none;
    transition: background-color 200ms ease;
  }
  &:active {
    background-color: rgba(255, 255, 255, 0.16);
  }
}
